# K PROJECT config
CONFIG_ARCH_MSM8974PRO=y
CONFIG_SEC_K_PROJECT=y
CONFIG_MACH_KLTE_SPR=y
CONFIG_MSM_ADSPRPC=y

CONFIG_DEFERRED_INITCALLS=y

#
# Wifi features
#
#
# Remove Qualcomm Wifi features
#
# CONFIG_WCNSS_CORE is not set
# CONFIG_WCNSS_CORE_PRONTO is not set
# CONFIG_WCNSS_MEM_PRE_ALLOC is not set

#
# Add Broadcomm Wifi features
#
CONFIG_NET_CORE=y
CONFIG_WIRELESS=y
CONFIG_WIRELESS_EXT_SYSFS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_ALLOW_RECONNECT=y
CONFIG_WLAN=y
CONFIG_WIFI_CONTROL_FUNC=y
CONFIG_BCM4354=y
CONFIG_BCMDHD_FW_PATH="/system/etc/wifi/bcmdhd_sta.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/wifi/nvram_net.txt"
CONFIG_BROADCOM_WIFI_RESERVED_MEM=y
CONFIG_WLAN_REGION_CODE=100
CONFIG_MMC_MSM_SDC2_SUPPORT=y
CONFIG_CFG80211_REG_NOT_UPDATED=y
CONFIG_WIFI_MULTICAST_LOG=y

# CONFIG_MSM_PIL_PRONTO is not set
#
# LCD
#
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_MDNIE_LITE_TUNING=y
CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_CMD_WQHD_PT_PANEL=y
CONFIG_FB_MSM_MDSS_DBG_SEQ_TICK=y
CONFIG_FB_MSM_MDSS_DSI_DBG=y
#
# Camera
#
CONFIG_S5K2P2XX=y
CONFIG_COMPANION=y
CONFIG_S5K8B1YX=y
#
# Input
#
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI_G=y
CONFIG_KEYBOARD_CYPRESS_TOUCHKEY=y
#
# Specific keyboard combination reject in kernel level.
# Only processing Framework level.
#
CONFIG_USE_VM_KEYBOARD_REJECT=y
#
# Earjack
#
CONFIG_SAMSUNG_JACK=y
CONFIG_INPUT_GPIO=y
# Audience
CONFIG_SND_SOC_ES705=y
CONFIG_SND_SOC_ES705_SLIM=y
CONFIG_FW_LOADER=y
CONFIG_FIRMWARE_IN_KERNEL=y
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
#
# BT Call Forwarding
#
CONFIG_BT_CALL_FORWARDING=y
#
# DHA Solution
#
CONFIG_SEC_DHA_SOL_MAL=y
#
# usb
#
CONFIG_USB_DUN_SUPPORT=y
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_EHCI_EHSET is not set
# CONFIG_USB_EHCI_MSM is not set
# CONFIG_USB_EHCI_MSM_HSIC is not set
CONFIG_USB_DWC3=y
CONFIG_MHL_VERSION=0x21

CONFIG_USB_STORAGE_DETECT=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_MHL_VERSION=0x21

# Advanced Linux Sound Architecture
CONFIG_SND_RAWMIDI=y

#
# Enable SEC_PM Feature
#
CONFIG_SEC_PM=y
CONFIG_SEC_PM_DEBUG=y
CONFIG_REGULATOR_MAX77804K=y
#
# ID Chip
#
CONFIG_W1=y
CONFIG_W1_MASTER_GPIO_MSM=y
CONFIG_W1_SLAVE_DS28EL15=y
CONFIG_W1_WORKQUEUE=y
CONFIG_W1_FAST_CHECK=y
CONFIG_W1_SN=y
#
# Finger print sensor
#
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_VFS61XX=y
CONFIG_SENSORS_VFS61XX_KO=y
# CONFIG_SENSORS_ADSP is not set
#
# Sensor hub
#
CONFIG_SENSORS_SSP=y
CONFIG_SENSORS_SYSFS=y
CONFIG_SENSORS_SSP_FACTORY=y
CONFIG_SENSORS_SSP_MPU6500=y
CONFIG_SENSORS_SSP_AK09911=y
CONFIG_SENSORS_SSP_BMP182=y
CONFIG_SENSORS_SSP_ATUC128L5HAR=y
CONFIG_SENSORS_SSP_SENSORHUB=y
CONFIG_SENSORS_SSP_STM=y
# CONFIG_SENSORS_SSP_SHTC1 is not set
CONFIG_SENSORS_SSP_MOBEAM=y
CONFIG_SENSORS_SSP_TMG399X=y
CONFIG_SENSORS_MAX86900=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_ST_HWMON=y
#
# NFC
#
CONFIG_BCM2079X_NFC_I2C=y
#
# Battery & Charger
#
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_SAMSUNG_LPM_MODE=y
# CONFIG_SMB350_CHARGER is not set
# CONFIG_BATTERY_BQ28400 is not set
# CONFIG_BATTERY_MSM is not set
# CONFIG_FUELGAUGE_DUMMY is not set
#
# MAX77804K Charger
#
# CONFIG_QPNP_CHARGER is not set
# CONFIG_QPNP_BMS is not set
CONFIG_FUELGAUGE_MAX17048=y
CONFIG_CHARGER_MAX77804K=y
CONFIG_BATTERY_SWELLING=y
#
# Misc module
#
# CONFIG_KS8851 is not set
CONFIG_SEC_FPGA_ICE40XX=y
CONFIG_IR_REMOCON_FPGA=y
CONFIG_SENSORS_HALL=y
CONFIG_SENSORS_HALL_IRQ_CTRL=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_MFD_MAX77804K=y
CONFIG_MAX77804K_MUIC=y
CONFIG_MUIC_MAX77804K_SUPPORT_MHL_CABLE_DETECTION=y
CONFIG_LEDS_AN30259A=y
CONFIG_MOTOR_DRV_MAX77804K=y
CONFIG_SS_VIBRATOR=y
CONFIG_GPIO_PCAL6416A=y
CONFIG_LEDS_MAX77804K=y
#
# etc
#
CONFIG_HID=y
# CONFIG_HID_OVR is not set
#
# BT
#
CONFIG_BT_BCM4354=y

#
# extcon
#
CONFIG_EXTCON=y
CONFIG_EXTCON_MAX77804K=y

#
# RCU
#
CONFIG_RCU_FAST_NO_HZ=y

#EPDG
CONFIG_NET_CORE=y
CONFIG_NET_SCH_PRIO=y
CONFIG_NET_SCHED=y   #depends on CONFIG_NET  which is enabled by default.. coz not seeing in the config file
CONFIG_NET_CLS_BASIC=y # required if basic is being used as a filter. depends on CONFIG_NET_CLS so enabling it by default
CONFIG_NET_CLS=y
CONFIG_NET_CLS_ACT=y # for enabling the action target.
CONFIG_NET_ACT_MIRRED=y  # for enabling the mirred target for redirecting the packet between the devices.
CONFIG_NET_EMATCH=y   #basic uses extended matches so this has to be present
CONFIG_NET_SCH_INGRESS=y # classifier for ingress packet

#optimize mmc block delay on resume
CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

# SAMP : HOTNESS
CONFIG_SAMP_HOTNESS=y

# DUALWAVE
CONFIG_DUALWAVE=y
