# Note of using this defconfig:
# Before adding anything here, make sure it has an entry in
# arch/arm/mach-msm/Kconfig with appropriate dependency spec and 
# help text.
# https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
# Contact: Jitesh Shah <j1.shah@sta.samsung.com> for more info
#
# LKMAUTH defines
# CONFIG_TIMA_LKMAUTH is not set
#CONFIG_TIMA_LKMAUTH_CODE_PROT=n

# Other TIMA bits. Log and Uevent. Note that apart from LKM
# these might also be dependent on PKM, Attestation and Keystore.
# So its best to always keep them turned on even though LKM is 
# disabled.
CONFIG_TIMA=y
CONFIG_TIMA_UEVENT=y
CONFIG_TIMA_LOG=y
#CONFIG_TIMA_TEST_INFRA=m

# RKP defines
CONFIG_TIMA_RKP=y
#CONFIG_TIMA_RKP_L1_TABLES=n
#CONFIG_TIMA_RKP_L2_TABLES=n
#CONFIG_TIMA_RKP_L2_GROUP=n
#CONFIG_TIMA_RKP_DMA_MVA_TO_SETWAY=n
#CONFIG_TIMA_RKP_DEBUG=n
