#
# Copyright (c) 2013 Samsung Electronics Co., Ltd.
# 		http://www.samsung.com/

config VIDEO_MHL_V2
	bool "Samsung Mobile HD Link Interface"
	default n
	---help---
	Support for MHL(SII8240) version2 chipset driver. This is a new
	version of mhl which has the required functionality to support
	mhl 2.0 spec required. Say Y here if this support mhl_version2

config VIDEO_MHL_SII8246
        bool "Samsung Mobile HD Link Interface"
        default n
        ---help---
        Support for MHL(SII8246) version2 chipset driver. This is a new
        version of mhl which has the required functionality to support
        mhl 2.0 spec required. Say Y here if this support mhl_version2

config MHL_VERSION
	hex "Number of MHL Version"
	default 0x20
	---help---
	MHL Version
	For example, those device compliant
	with MHL Specification version 2.0
	shell set this MHL_VERSION to 0x20

config MUIC_SUPPORT_MULTIMEDIA_DOCK
	bool "support multimedia dock"
	default n
	---help---
	Support for multimedia dock