#
# IR_LED
#
menu "IRDA devices"

config IR_REMOCON_MC96FR116
	bool "Micom MC96FR116 ABOV based IR LED driver"
	depends on I2C
	default n
	help
	  Say Y here to enable the I2C based IRDA for MC96FR116C chip.

config IRDA_COMMON_LDO
	bool "Micom MC96FR116 ABOV based IR LED driver"
	depends on I2C
	default n
	help
	  Say Y here to enable the I2C based IRDA for MC96FR116C chip for Kmini

config ANDROID_FFF
	bool "IRDA new Code for android 4.4.4"
	default n
	help
	  Say Y here to enable the new code and CTS fix for android 4.4.4

endmenu
