#
# Cypress touchkey configuration
#

config KEYBOARD_CYPRESS_TOUCHKEY_S3
        tristate "Cypress touchkey support"
        default n
        help
          Say Y here to enable the
	  cypress touchkey.
          To compile this driver as a
	  module, choose M here.
